extends layout

block content
	form(role="form", action="/crawl", method="get")
		div(class="row")
			input(type="text", name="url", class="form-control", required, autofocus)
		button(class="btn waves-effect waves-light", type="submit") Submit
	p= result